*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    scroll-behavior: smooth;
    font-family: 'Inter', sans-serif;
}

body {
    max-width: 1400px;
    margin: 0 auto;
    background-color: #F9F5FF;
    background-image: url('./assets/background-lines.svg');
    background-repeat: no-repeat;
    background-position: center 338px;
}

.header {
    margin-top: 96px;
}

.header .our-blog {
    margin: 0 auto;
    text-align: center;
    border: 1px solid #F2EBFF;
    border-radius: 25px;
    background-color: #F2EBFF;
    width: fit-content;
}

.header .our-blog h3 {
    padding: 4px 12px;
    font-weight: 500;
    font-size: 14px;
    color: #6941C6;
}

.header h1 {
    margin: 16px auto 0 auto;
    text-align: center;
    font-weight: 600;
    font-size: 48px;
    color: #42307D;
}

.header h2 {
    margin: 26px auto 0 auto;
    text-align: center;
    font-weight: 400;
    font-size: 20px;
    color: #6941C6;
}

.header a, a:hover {
    text-decoration: none;
}

.header input[type=text] {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 6px 12px 6px 36px;
    height: 48px;
    width: 320px;
    margin: 40px auto 0 auto;

    border: 2px solid #D0D5DD;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 400;
    color: #667085;

    background: url('https://cdn-icons-png.flaticon.com/512/622/622669.png') no-repeat 10px center;
    background-size: 16px 16px;
}

@media screen and (max-width: 600px) {
    .header input[type=text] {
        text-align: left;
        width: 100%;
        margin: 0 auto;
    }
}


.main {
    margin-top: 96px;
}

.main .container {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    justify-content: center
}

.main .container .post {
    background-color: white;
    flex: 0 1 340px;
    width: 384px;
    height: 580px;
}

.main .container .post img {
    width: 336px;
    height: 240px;
    margin: 24px 24px auto 24px;

}

.footer {

}

.footer .container {

}
