*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    scroll-behavior: smooth;
    font-family: 'Inter', sans-serif;
}

body {
    max-width: 1400px;
    margin: 0 auto;
    background-color: #F9F5FF;
    background-image: url('assets/UI/background-lines.svg');
    background-repeat: no-repeat;
    background-position: center 338px;
}

.header {
    margin-top: 96px;
    text-align: center;
}

.header .our-blog {
    margin: 0 auto;
    text-align: center;
    border: 1px solid #F2EBFF;
    border-radius: 25px;
    background-color: #F2EBFF;
    width: fit-content;
}

.header .our-blog h3 {
    padding: 4px 12px;
    font-weight: 500;
    font-size: 14px;
    color: #6941C6;
}

.header h1 {
    margin: 16px auto 0;
    text-align: center;
    font-weight: 600;
    font-size: 48px;
    color: #42307D;
    width: fit-content;
}

.header a {
    display: inline-block;
    text-decoration: none;
    color: #42307D;
}


.header p {
    margin: 26px auto 0 auto;
    text-align: center;
    font-weight: 400;
    font-size: 20px;
    color: #6941C6;
}

.header a, a:hover {
    text-decoration: none;
}

.header input[type=text] {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 6px 12px 6px 36px;
    height: 48px;
    width: 320px;
    margin: 40px auto 0 auto;

    border: 2px solid #D0D5DD;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 400;
    color: #667085;

    background-color: white;
    background-image: url('https://cdn-icons-png.flaticon.com/512/622/622669.png');
    background-repeat: no-repeat;
    background-position: 10px center;
    background-size: 16px 16px;
}

@media screen and (max-width: 600px) {
    .header input[type=text] {
        text-align: left;
        width: 100%;
        margin: 0 auto;
    }
}


.main {
    margin-top: 96px;
}

.main .container {

}

.main .container .posts {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    justify-content: center
}

.main .container .post {
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 384px;
    height: 580px;
    padding: 24px;
    box-shadow: 0 6px 13px #00000020;
}

.main .container .post img {
    width: 336px;
    height: 240px;
}

.main .container .post .post-info .theme {
    color: #6941C6;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 12px;
    margin-top: 32px;
}

.main .container .post .post-info .post-title {
    font-size: 17px;
    font-weight: 600;
    display: flex;
    gap: 30px;
    margin-bottom: 12px;
}

.main .container .post .post-info .post-title img {
    width: 10px;
    height: 10px;
}

.main .container .post .post-info .post-description {
    color: #667085;
    font-size: 16px;
    font-weight: 400;
}

.main .container .post .post-author {
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}


.main .container .post .post-author .post-author-info {
    flex-direction: column;
    margin-left: 12px;
}

.main .container .post .post-author img {
    width: 40px;
    height: 40px;
}

.main .container .post .post-author p {
    font-size: 14px;
    font-weight: 500;
    color: #101828;
}

.main .container .post .post-author span {
    font-size: 14px;
    font-weight: 400;
    color: #667085;
}

.main .container .load-more a, .main .container .load-more a:hover {
    display: flex;
    justify-content: space-between;
    margin: 64px auto 0 auto;
    padding: 12px 20px;
    text-align: center;
    border: 1px solid #F2EBFF;
    border-radius: 8px;
    background-color: #F2EBFF;
    width: fit-content;
    text-decoration: none;
    gap: 8px;
}

.main .container .load-more a h3 {
    font-weight: 500;
    font-size: 16px;
    color: #6941C6;
}

.footer {
    margin-top: 96px;
    border-top: 1px solid #ede6ff;
}

.footer .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer .container .creator {
    color: #6941C6;
    font-weight: 600;
    margin-left: 95px;
}

.footer .container .creator span {
    color: orangered;
    font-weight: 400;
}

.footer .container .designer {
    color: orangered;
    font-weight: 400;
    margin-right: 95px;
}

.footer .container .designer a, .footer .container .designer a:hover {
    color: #6941C6;
    font-weight: 600;
    text-decoration: none;
}