*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    background-color: #201F1F;
    font-family: "Poppins", sans-serif;
    line-height: 1.5;
    color: #222;
}

.page {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 16px;
    width: 100%;
}

.header {
    background-color: #201F1F;
    border-bottom: 1px solid #3a3636;
    color: #fff;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 16px;
}

.header .container .logo {
    display: flex;
    align-items: center;
    justify-content: start;
    color: #EE5626;
    filter: invert(1);
}

.header .container .logo h2 {
    padding-left: 7px;
    font-family: "poppins", sans-serif;
}

.header nav a {
    color: #fff;
    text-decoration: none;
    margin-left: 16px;
    font-weight: 500;
}

.header nav a:hover {
    text-decoration: underline;
}

.main {
    flex: 1;
    padding: 40px 0;
}

.main .container {
    text-align: center;
    color: #fff;
}

.main .container .writer-info {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
}

.main .container .writer-info p {
    margin-left: 7px;
    font-size: 8px;
}

.main .container .writer-info span {
    color: orangered;
    font-size: 12px;
    font-weight: bold;
}

.main .container .separator img {
    margin: 0;
    filter: invert(1);
}

.main .container .information {
    width: 558px;
    height: 300px;
    margin: 0 auto -100px;
    text-align: justify;
    font-size: 18px;
}

.main .container .back-to-top {
    position: relative;
    right: -610px;
    top: 40px;
    filter: invert(1);
}

.main .container h1 {
    font-size: 48px;
}

.main .container img {
    margin-bottom: 37px;
    margin-top: 29px;
}

.footer {
    background-color: #201F1F;
    color: #fff;
}

.footer .container {
    padding: 20px 16px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    color: #fff;
}

.footer .container span {
    color: orangered;
    font-weight: 600;
    text-decoration: underline;
}

.footer .container a {
    color: inherit;
    font-weight: bold;
}

.footer .container .social a {
    margin: 0 5px;
    filter: invert(1);
}